{% extends "layout.html" %}

{% block title %}
    Philosophy
{% endblock %}

{% block main %}
<div class="alignleft">
<h3>Philosophy</h3>

<p>
    The philosophy of "Non-Zero-Days" was inspired by <a href="https://www.reddit.com/r/getdisciplined/comments/1q96b5/comment/cdah4af/?context=3">a comment made by Ryan from Reddit</a>.
</p>

<p>
    Many of us have been there, laying awake in bed at night, feeling guilty about the things we failed to do that day.<br/>
    When this becomes a regular thing it can cause us to experience stress and anxiety.<br/>
    If you recognize this problem "Non-Zero-Days" might be of help to you.
</p>

<p>
    A Non-Zero-Day is a day where you do at least one thing, no matter how small, towards a particular goal.<br/>
    For example:
    <ul>
        <li>Do one push-up</li>
        <li>Read 5 pages of a book</li>
        <li>Etc,...</li>
    </ul>
</p>

<p>
    While the activities given as an example above aren't huge, any step taken towards achieving your goals is good and better than zero.<br/>
    When you find a way to have consistent non-zero days, you will find your motivation increases as you go.
</p>
</div>

{% endblock %}